<div class="columns is-marginless is-multiline">
  <div class="column">
    <div class="box info-border">
      <article class="media ">
        <div class="media-content">
          <div class="content">
            <div class="has-text-centered">
              <i class="fa fa-users fa-4x has-text-info" aria-hidden="true"></i>
            </div>
            <p class="has-text-centered">
              <strong class="has-text-info">ΣΥΝΟΛΟ ΧΡΗΣΤΩΝ</strong>
              <br>
              <span class="title is-5 has-text-info">{{counters.customers}}</span>
            </p>
          </div>
        </div>
      </article>
    </div>
  </div>
  <div class="column">
    <div class="box  danger-border">
      <article class="media">
        <div class="media-content">
          <div class="content">
            <div class="has-text-centered">
              <i class="fa fa-truck fa-4x has-text-danger" aria-hidden="true"></i>
            </div>
            <p class="has-text-centered">
              <strong class="has-text-danger">ΣΥΝΟΛΟ ΠΑΡΑΓΓΕΛΙΩΝ</strong>
              <br>
              <span class="title is-5 has-text-danger">{{counters.orders}}</span>
            </p>
          </div>
        </div>
      </article>
    </div>
  </div>
  <div class="column">
    <div class="box primary-border">
      <article class="media">
        <div class="media-content">
          <div class="content">
            <div class="has-text-centered">
              <i class="fa fa-cubes fa-4x has-text-primary" aria-hidden="true"></i>
            </div>
            <p class="has-text-centered">
              <strong class="has-text-primary">ΣΥΝΟΛΟ ΠΡΟΙΟΝΤΩΝ ΣΕ ΠΑΡΑΓΓΕΛΙΕΣ</strong>
              <br>
              <span class="title is-5 has-text-primary">{{counters.orderProducts}}</span>
            </p>
          </div>
        </div>
      </article>
    </div>
  </div>
  <div class="column">
    <div class="box success-border">
      <article class="media">
        <div class="media-content">
          <div class="content">
            <div class="has-text-centered">
              <i class="fa fa-cubes fa-4x has-text-success" aria-hidden="true"></i>
            </div>
            <p class="has-text-centered">
              <strong class="has-text-success">ΣΥΝΟΛΟ ΠΡΟΙΟΝΤΩΝ</strong>
              <br>
              <span class="title is-5 has-text-success">{{counters.products}}</span>
            </p>
          </div>
        </div>
      </article>
    </div>
  </div>
</div>