@import "../../../styles/_overrides.sass"

.danger-border
        border-bottom: 4px solid $red

.primary-border
        border-bottom: 4px solid $primary

.success-border
        border-bottom: 4px solid $green

.info-border
        border-bottom: 4px solid $blue
