<div class="columns is-marginless is-multiline is-centered" *ngIf="message">
  <div class="column is-7">
    <div class="field">
      <label class="label">Τίτλος</label>
      <div class="control">
        <input class="input" [(ngModel)]="message.title" type="text" placeholder="Τίτλος">
      </div>
    </div>
    <div class="field">
      <label class="label">Μήνυμα</label>
      <div class="control">
        <textarea class="textarea" [(ngModel)]="message.message" type="text" placeholder="Μήνυμα email"></textarea>
      </div>
    </div>
    <div class="field is-grouped">
      <div class="control">
        <button class="button" [routerLink]="['/email','messages']">Άκυρο</button>
      </div>
      <div class="control">
        <button class="button is-success" (click)="save()">{{message.id ? 'Αποθήκευση' : 'Εισαγωγή'}}</button>
      </div>

    </div>
  </div>